<h2>{{ section.settings.title }}</h2>

{% schema %}
{
    "name": "t-announcement-bar",
    "tag": "section",
    "class": "my-wrapper-class",
    "settings":[
        {
            "type": "text",
            "id": "title",
            "label": "Title",
        },
        {
            "type": "select",
            "id": "title_alignment",
            "label": "Title alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "middle",
                "label": "Middle"
              },
              {
                "value": "right",
                "label": ""
              }
            ],
            "default": "middle"
          }
    ],

    "presets": [
        {
            "name": "t-announcement-bar"
        }
    ]
}
{% endschema %}