<h2
  style="
    text-align: {{ section.settings.title_alignment }};
    width: {{ section.settings.size.width }};
    height: {{ section.settings.size.height }}
  "
>
  {{ section.settings.title }}
</h2>

{% schema %}
{
  "name": "t-announcement-bar",
  "tag": "section",
  "class": "my-wrapper-class",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
        "type": "text",
        "id": "width",
        "label": "Width",
        "default": "100%"
      },
    {
    "type": "text",
    "id": "height",
    "label": "Height",
    "default": "auto"
    }
      
  ],

  "presets": [
    {
      "name": "t-announcement-bar"
    }
  ]
}
{% endschema %}
