<h2
  style="
    text-align: {{ section.settings.title_alignment }};
    font-size: {{ section.settings.font_size }}
  "
>
  {{ section.settings.title }}
</h2>

{% schema %}
{
  "name": "t-announcement-bar",
  "tag": "section",
  "class": "my-wrapper-class",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 10,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme"
    }
  ],

  "presets": [
    {
      "name": "t-announcement-bar",
      "category": "Announcement Bar",
      "settings": {
        "title": "Your Announcement",
        "title_alignment": "center"
      }
    }
  ]
}
{% endschema %}
