<h2>{{ section.set }}</h2>

{% schema %}
{
    "name": "t-announcement-bar",
    "tag": "section",
    "class": "my-wrapper-class",
    "settings":[
        {
            "type": "text",
            "id": "show_t-announcement-bar",
            "label": "Show announcement",
          }
    ],

    "presets": [
        {
            "name": "t-announcement-bar"
        }
    ]
}
{% endschema %}