<h2
  style="
    text-align: {{ section.settings.title_alignment }};
    width: {{ section.settings.width }};
    height: {{ section.settings.height }}
  "
>
  {{ section.settings.title }}
</h2>

{% schema %}
{
  "name": "t-announcement-bar",
  "tag": "section",
  "class": "my-wrapper-class",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "width",
      "label": "Width",
      "default": "100%"
    },
    {
      "type": "text",
      "id": "height",
      "label": "Height",
      "default": "auto"
    },
    {
        "type": "range",
        "id": "font_size",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      }
  ],

  "presets": [
    {
      "name": "t-announcement-bar"
    }
  ]
}
{% endschema %}
