<h2>{{ section.settings.title }}</h2>

{% schema %}
{
    "name": "t-announcement-bar",
    "tag": "section",
    "class": "my-wrapper-class",
    "settings":[
        {
            "type": "text",
            "id": "title",
            "label": "Title",
        },
        {
            "type": "select",
            "id": "vertical_alignment",
            "label": "Vertical alignment",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "middle",
                "label": "Middle"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ],
            "default": "middle"
          }
    ],

    "presets": [
        {
            "name": "t-announcement-bar"
        }
    ]
}
{% endschema %}